@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadProRegular/MyriadProRegular.woff") format("woff"); }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

footer {
  flex: 0 0 auto; }

html,
body {
  display: flex;
  flex-direction: column;
  align-items: normal;
  flex-direction: column;
  font-family: "MyriadProRegular";
  min-height: 100%; }

html {
  line-height: 1.5rem;
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

.body_scroll {
  overflow: hidden; }

.wrapper {
  flex: 1 0 auto;
  min-height: 100%;
  overflow: hidden; }

.container {
  max-width: 1000px;
  margin: 0 auto; }

a {
  display: inline-block;
  text-decoration: none;
  color: #FFF;
  cursor: pointer; }

a,
a:hover,
a:focus,
a:active,
a.active {
  outline: 0; }

ul {
  list-style: none; }

select {
  /* for Firefox */
  /*remove arrow*/
  -moz-appearance: none;
  /* for Chrome */
  -webkit-appearance: none; }
  select::-ms-expand {
    display: none; }

button,
input {
  outline: none; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

main {
  display: block; }

h1 {
  font-size: 1.5rem;
  margin: 0.67em 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */ }

img {
  border-style: none; }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */ }

button,
input {
  /* 1 */
  overflow: visible; }

button,
select {
  /* 1 */
  text-transform: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

template {
  display: none; }

[hidden] {
  display: none; }

.breadcrumb {
  margin: 1rem 0; }
  .breadcrumb__list {
    display: flex;
    align-items: center;
    padding: 1rem 0; }
  .breadcrumb__item > a {
    color: #663333; }
  .breadcrumb__item {
    position: relative;
    padding-right: 1.5rem; }
    .breadcrumb__item:not(:last-child):before {
      position: absolute;
      right: 10px;
      content: "\f054";
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: #000;
      font-size: .5rem; }

.checkbox {
  position: relative;
  padding: 1rem 0;
  display: flex;
  flex-flow: row-reverse; }
  .checkbox > input {
    flex: 0 0 30%; }
  .checkbox > label {
    flex: 0 0 70%; }

.custom__checkbox {
  display: flex;
  justify-content: center;
  position: relative;
  margin: 1rem 0; }

[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0; }

[type="checkbox"] + label {
  display: inline-flex;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

[type="checkbox"] + label::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #663333;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%; }

[type="checkbox"]:checked + label::before {
  border-color: #e6e6e6;
  background-color: #e6e6e6;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e"); }

.button__popup-z:hover {
  background-color: #663333;
  color: #FFF; }

.icon {
  height: 65px;
  width: 65px; }

.list-icon {
  display: flex;
  align-items: baseline;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%; }

@media screen and (max-width: 768px) {
  .list-icon {
    flex-flow: column;
    justify-content: center;
    align-items: center; } }
h2 {
  position: relative;
  font-size: 1.5rem;
  color: #000;
  font-family: "MyriadProRegular";
  font-weight: bold;
  text-transform: uppercase; }
  h2::before {
    position: absolute;
    content: "";
    bottom: -25px;
    height: 3px;
    width: 4rem;
    background-color: #d12c2c; }

.subtitle {
  margin: 5rem 0; }
  .subtitle-link {
    position: absolute;
    transform: translateY(-85px);
    width: 450px; }
  .subtitle-list {
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: row; }

@media screen and (max-width: 991px) {
  .title {
    margin-bottom: 3rem; }

  .subtitle-list {
    flex-flow: column; } }
.nav__mobile {
  display: none; }
.nav__icons {
  display: none;
  padding: 1rem; }
.nav__mobile-links {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  width: 35%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e6e6e6;
  opacity: 0;
  transform: translateX(100%);
  transition: .5s; }
.nav__mobile-item {
  position: relative;
  padding: 1.5rem; }
  .nav__mobile-item > a {
    font-size: 1.7rem;
    color: #000;
    font-family: "MyriadProRegular"; }
  .nav__mobile-item > a:hover {
    color: #000; }
.nav__mobile-item:first-child {
  position: absolute;
  top: 0; }

.menu_open .nav__mobile-links {
  transform: translateX(0);
  opacity: 1; }

.menu_open .nav__icons .fa-times {
  display: block;
  transform: translateY(-8vh); }

.menu_open .nav__icons .fa-bars {
  display: none; }

.fa-times {
  font-size: 1.5rem;
  color: #663333;
  font-family: "MyriadProRegular"; }

.fa-bars {
  font-size: 1.5rem;
  color: #FFF;
  font-family: "MyriadProRegular"; }

@media screen and (max-width: 768px) {
  .nav__mobile-links {
    width: 100vw; } }
@media screen and (max-width: 1199px) {
  .nav__mobile {
    display: block; }

  .nav__list {
    justify-content: space-between; }

  .nav__link {
    display: none;
    padding: 0 1rem;
    font-size: 1rem;
    color: #FFF;
    font-family: "MyriadProRegular"; }
    .nav__link:last-child {
      padding-right: 0rem; }
    .nav__link > a:hover {
      color: #000; }

  .nav__icons {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    cursor: pointer; }

  .nav__icons .fa-times {
    display: none; } }
.header {
  position: relative;
  flex: 1 0 auto; }

.nav__container {
  max-width: 1000px;
  margin: 0 auto; }

.nav {
  position: relative;
  display: flex;
  align-items: baseline;
  justify-content: center;
  flex-direction: row; }
  .nav__main {
    flex: 0 0 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-self: flex-start; }
  .nav__title {
    width: 100%;
    margin: 2rem 0; }
  .nav__title-item > a {
    font-size: 1.1rem;
    color: #1c1c1c;
    font-family: "MyriadProRegular";
    font-weight: bold; }
  .nav__subtitle {
    width: 100%; }
  .nav__subtitle:before {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: 0;
    height: 0;
    width: 100vw;
    border-bottom: 60px solid #663333;
    border-left: 30px solid transparent;
    transform: translateX(-4rem); }
  .nav__link {
    position: relative;
    padding: 18px 0; }

.logo {
  display: flex;
  align-items: center;
  justify-content: normal;
  flex-direction: row;
  flex: 0 0 30%;
  font-size: 2rem;
  color: #663333;
  font-weight: 900; }
  .logo > img {
    height: 100px;
    width: 100px; }

.logo:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  height: 0;
  width: 100vw;
  border-top: 110px solid #e6e6e6;
  border-right: 60px solid transparent;
  transform: translateX(-45rem); }

.button {
  padding: .6rem 1rem;
  border: 1px solid #663333;
  background: none;
  color: #663333;
  cursor: pointer;
  transition: .5s; }

.button_nav:hover {
  background-color: #663333;
  color: #FFF; }

.phone:before,
.email:before {
  content: "\f87b";
  margin-right: 1rem;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #663333;
  font-size: 1.5rem; }

.email:before {
  content: "\f0e0"; }

.nav__list,
.nav__title-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row; }

@media screen and (max-width: 768px) {
  .logo__text {
    display: none; } }
@media screen and (max-width: 1199px) {
  .container {
    padding: 5rem 1rem; }

  .logo {
    width: 100%;
    justify-content: center;
    text-align: center; }
    .logo:before {
      left: 0;
      transform: translateX(0); }

  .nav {
    flex-flow: column;
    align-items: center; }
    .nav__container {
      max-width: 100vw; }
    .nav__main {
      width: 100%; }
    .nav__title {
      margin: 0; }
    .nav__title-list {
      display: none; }
    .nav__list {
      justify-content: flex-end; }
    .nav__subtitle::before {
      left: 0;
      border-left: 0;
      transform: translateX(0); }

  .logo {
    margin-right: 0; } }
.sub-nav__list {
  position: absolute;
  top: 60px;
  left: -25px;
  display: none;
  z-index: 1;
  min-width: 300px;
  background-color: rgba(255, 229, 180, 0.7); }

.nav__list > li:hover .sub-nav__list {
  display: block; }

.sub-nav__link > a {
  position: relative;
  z-index: 10;
  color: #000;
  padding: 0.8rem 2.5rem;
  width: 100%;
  transition: 0.5s; }
  .sub-nav__link > a:hover {
    background-color: #d12c2c;
    color: #FFF; }
  .sub-nav__link > a:before {
    content: "\f054";
    position: absolute;
    left: 20px;
    color: #000;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    font-size: 0.7rem; }
  .sub-nav__link > a:hover:before {
    color: #FFF; }

.sub__nav > a:before {
  content: "\f0dd";
  width: 10px;
  height: 10px;
  fill: #FFF;
  position: absolute;
  right: -20px;
  color: #FFF;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1rem; }

.main {
  flex: 1 0 auto;
  position: relative;
  overflow-x: hidden;
  width: 100%;
  height: 50vh;
  background: url(../images/main/main.png) no-repeat center center;
  background-size: cover; }
  .main__content {
    padding: 4rem 0; }
  .main__container {
    height: 100%; }
  .main__title > h1 {
    color: #FFF;
    font-size: calc(35px + (50 - 35) * ((100vw - 320px) / (1920 - 320)));
    line-height: 2.5rem; }

.main__title {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  flex-direction: row;
  height: 100%;
  padding: 3rem 0; }

@media screen and (max-width: 1199px) {
  .main__title {
    justify-content: center;
    align-items: center; } }
.services,
.services__bottom,
.services__subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }

.services__item-text {
  position: absolute;
  bottom: -40px;
  padding: 1rem;
  color: white;
  width: 100%; }
  .services__item-text:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    height: 0%;
    width: 11rem;
    border-top: 35px solid #518a32;
    border-right: 25px solid transparent;
    transition: .5s; }

.services__subtitle .services__item > a > p {
  bottom: 4rem; }
  .services__subtitle .services__item > a > p:before {
    width: 55%; }

.services {
  flex: 1 0 auto;
  flex-flow: column; }
  .services__top {
    margin: 2rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: normal;
    flex-direction: row; }
  .services__title {
    flex: 0 0 35%; }
  .services__subtitle {
    flex: 0 0 65%; }
  .services__item {
    flex: 1;
    position: relative;
    width: 100%; }
  .services__item-img {
    position: relative;
    width: 100%;
    padding-bottom: 20%;
    min-height: 200px; }
  .services__item:nth-child(even) {
    margin: 0 1rem; }
  .services__item-img > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-position: center;
    object-position: center;
    -o-object-fit: cover;
    object-fit: cover;
    z-index: -1; }
  .services__text {
    font-size: 1rem;
    color: #1c1c1c;
    font-family: "MyriadProRegular";
    text-align: justify; }
  .services__description {
    padding: 4rem 0; }

.sub-img {
  position: relative;
  width: 100%;
  padding-bottom: 35%;
  min-height: 350px; }

@media screen and (max-width: 991px) {
  .services__subtitle {
    width: 100%; }
  .services__list {
    width: 100%; }
  .services__top {
    flex-flow: column; }
  .services__item {
    padding: 1.5rem 0; } }
@media screen and (max-width: 768px) {
  .services__bottom {
    flex-direction: column; }

  .services__list:nth-child(even) {
    margin: 3rem 0; } }
.advanteges {
  flex: 1 0 auto;
  background-color: #663333; }
  .advanteges__container {
    position: relative; }
  .advanteges__description > p {
    color: #FFF; }

.advanteges .main__content > h2 {
  color: #FFF; }

.description {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 1rem; }
  .description > h3 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: #FFF;
    font-family: "MyriadProRegular"; }
  .description > p {
    text-align: center; }

.advanteges__container::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 0;
  width: 100vw;
  border-top: 30px solid #FFF;
  border-right: 20px solid transparent;
  z-index: 1;
  transform: translateX(-50rem); }

.advanteges__container::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100vw;
  border-bottom: 30px solid #e6e6e6;
  border-left: 20px solid transparent;
  z-index: 1;
  transform: translateX(50rem); }

@media screen and (max-width: 991px) {
  .item {
    margin-bottom: 1.5rem; } }
.transportation {
  flex: 1 0 auto;
  background-color: #e6e6e6; }
  .transportation__link {
    color: #518a32;
    text-decoration: underline; }

.transportation__description > h3 {
  color: #000; }

.item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column; }

.transportation__item {
  position: relative; }
  .transportation__item::before {
    position: absolute;
    right: -50px;
    top: 35px;
    content: "\f30b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #000;
    font-size: 1rem; }

.transportation__subtitle > ul:last-child > li:last-child::before {
  content: ""; }

@media screen and (max-width: 991px) {
  .transportation__item {
    position: relative; }
    .transportation__item::before {
      content: ""; } }
.trucks__description {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%; }
.trucks__list {
  display: inherit;
  flex-flow: row;
  width: 100%; }
.trucks__item {
  width: 100%; }
.trucks__truck-description {
  width: 100%; }
.trucks__item-description {
  display: flex;
  position: relative;
  z-index: 1;
  width: 100%;
  overflow: hidden; }
  .trucks__item-description > li {
    margin: 0 2rem;
    color: #FFF; }
.trucks__image-truck {
  position: relative;
  padding-bottom: 45%;
  min-height: 175px; }
.trucks__image-truck > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-position: center;
  object-position: center;
  -o-object-fit: cover;
  object-fit: cover; }

.trucks__item-description::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 365px;
  background-color: #663333;
  transform: skewX(-35deg); }

.trucks__item-description::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -10px;
  height: 100%;
  width: 125px;
  background-color: #d12c2c;
  transform: skewX(-35deg); }

.trucks-price {
  display: none;
  flex-direction: row; }
  .trucks-price__image {
    padding: 1rem; }
  .trucks-price__description-model {
    display: flex;
    padding: 2rem;
    width: 100%; }
  .trucks-price__picture {
    display: flex;
    flex-wrap: wrap;
    flex: 1; }
    .trucks-price__picture__image {
      flex: 1;
      position: relative;
      width: 100%;
      padding-bottom: 15%;
      min-height: 100px;
      overflow: hidden; }
      .trucks-price__picture__image > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -o-object-position: center;
        object-position: center;
        -o-object-fit: cover;
        object-fit: cover; }
  .trucks-price__description {
    flex: 1;
    position: relative;
    background-color: #e6e6e6; }
  .trucks-price__model {
    flex: 1; }

.trucks-price__description::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  border-top: 30px solid #FFF;
  border-right: 30px solid transparent; }

.trucks-price__description::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 0;
  height: 0;
  border-bottom: 30px solid #FFF;
  border-left: 30px solid transparent; }

.trucks-price__active {
  display: flex; }

@media screen and (max-width: 768px) {
  .trucks__list {
    flex-flow: column; }

  .trucks-price__model {
    font-size: 15px; }

  .trucks-price__description-model {
    padding: 1.5rem; } }
@media screen and (max-width: 991px) {
  .trucks__item-description::before {
    width: 300px; }

  .trucks__item-description::after {
    width: 100px; }

  .trucks__item-description > li {
    margin: 0 1rem; }

  .trucks {
    flex-flow: column; }
    .trucks__picture {
      flex-flow: column; }
    .trucks__image {
      display: flex;
      justify-content: center; }

  .trucks-price {
    flex-direction: column; } }
.footer {
  flex: 0 0 auto;
  background-color: #1c1c1c; }
  .footer__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 3rem; }
  .footer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
  .footer__item {
    color: #FFF; }
  .footer__button {
    color: #FFF;
    border-color: #FFF; }
  .footer__subtitle {
    border-top: 1px solid #e6e6e6; }
  .footer__list-sub {
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row; }
  .footer__item-sub {
    color: #e6e6e6; }
  .footer__item-sub > a {
    text-decoration: underline; }

.footer__button:hover {
  background-color: #FFF;
  color: #000; }

@media screen and (max-width: 1199px) {
  .footer__container {
    padding: 5rem 1rem; } }
@media screen and (max-width: 991px) {
  .footer__title {
    flex-flow: column; }

  .footer__list {
    margin-bottom: 1rem; } }
@media screen and (max-width: 768px) {
  .footer__list-sub {
    flex-flow: column; }

  .footer__item-sub {
    margin-bottom: 1rem; } }
.about {
  flex: 1 0 auto; }
  .about__text {
    padding: 1rem 0; }

.contact {
  flex: 1 0 auto; }
  .contact__subtitle {
    margin-top: 5rem; }
  .contact__subtitle > h3 {
    margin-bottom: 2rem; }
  .contact__map {
    margin-top: 3rem; }
  .contact__button {
    margin: 3rem 0 5rem 0;
    border: 1px solid #518a32;
    color: #518a32; }
  .contact__button:hover {
    background-color: #518a32;
    color: #FFF; }

.map {
  width: 100%;
  height: 400px; }

.documents {
  flex: 1 0 auto; }
  .documents__subtitle > h3 {
    padding-bottom: 2rem; }
  .documents__list, .documents__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row; }
  .documents__item:nth-child(even) {
    padding-left: 1rem; }
  .documents__item > a {
    color: #518a32;
    text-decoration: underline;
    padding-left: 1rem; }

.requisites {
  flex: 1 0 auto; }
  .requisites__subtitle {
    margin-top: 5rem; }
  .requisites__download {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row; }
  .requisites__download {
    margin-top: 2rem; }
  .requisites__download > a {
    color: #518a32;
    text-decoration: underline;
    padding-left: 1rem; }

.ourServices {
  flex: 1 0 auto; }
  .ourServices__subtitle {
    margin-top: 5rem; }
  .ourServices__description {
    margin: 2rem 0; }
  .ourServices__description > ul {
    margin: 2rem 0;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column; }
  .ourServices__description > ul > li {
    position: relative;
    display: inline-block;
    width: 215px;
    margin: .5rem 0;
    padding: 0 1rem;
    background-color: #518a32;
    color: #FFF; }
  .ourServices__description > ul > li:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 25px solid #518a32;
    border-right: 25px solid transparent; }

.calculator {
  flex: 1 0 auto; }
  .calculator__select {
    margin-top: 5rem; }
  .calculator__destanation {
    display: flex;
    align-items: normal;
    justify-content: normal;
    flex-direction: row; }
  .calculator__item {
    padding-right: 2rem;
    display: flex;
    align-items: normal;
    justify-content: normal;
    flex-direction: column; }

.calculator__item > select, input {
  min-height: 35px;
  width: 100%;
  padding: 0 1rem;
  border: none;
  background-color: #e6e6e6;
  color: #000; }

.weigh {
  position: relative;
  flex: 0 0 15%; }
  .weigh:before {
    position: absolute;
    right: 45px;
    bottom: 5px;
    content: "\f0dd";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    color: #000;
    font-size: 1rem; }

.fromLocation, .toLocation {
  flex: 0 0 30%; }

@media screen and (max-width: 991px) {
  .calculator__destanation {
    flex-flow: column; }

  .calculator__item {
    padding-right: 0; } }
.price {
  flex: 1 0 auto; }
  .price__weigh {
    position: relative;
    display: flex; }
  .price__link {
    overflow: hidden; }
  .price__item {
    position: relative;
    width: 125px;
    padding: .5rem 1rem;
    cursor: pointer;
    background-color: #663333; }
  .price__item > a {
    position: relative;
    color: #FFF;
    z-index: 2; }

.price__item:last-child::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: 40px solid #FFF;
  border-left: 30px solid transparent; }

.price__item:hover {
  background: red; }

.price__item:not(:last-child):hover::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: 40px solid #663333;
  border-left: 30px solid transparent; }

.description-truck__list {
  flex: 1;
  margin-bottom: 1rem; }
  .description-truck__list > li:nth-child(even) {
    padding: 1rem 0; }

.button__price {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row; }
  .button__price-left {
    flex: 1; }
  .button__price-right {
    flex: 1; }

@media screen and (max-width: 991px) {
  .price__weigh {
    flex-flow: column; }
  .price__item {
    margin: .5rem 0; }
  .price__weigh::after {
    transform: scale(0);
    width: 0; }

  .button__price {
    display: block; }

  .price__item::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: 40px solid #FFF;
    border-left: 30px solid transparent; }

  .price__item:hover {
    background: red; }

  .price__item:not(:last-child):hover::before {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: 40px solid #FFF;
    border-left: 30px solid transparent; } }
.popup {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: .6s;
  visibility: hidden;
  opacity: 0; }
  .popup__overlay {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: rgba(49, 41, 41, 0.88); }
  .popup__body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    height: 600px;
    background-color: #FFF;
    overflow: hidden; }
    .popup__body > button {
      width: 35%;
      border: 1px solid #663333;
      color: #663333; }
  .popup__list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center; }
    .popup__list > li:first-child {
      flex: 2;
      color: #FFF; }
    .popup__list > li:last-child {
      flex: 1; }
    .popup__list > li:first-child:before {
      content: '';
      position: absolute;
      top: 0;
      left: -145px;
      background-color: #663333;
      transform: skewX(-35deg);
      height: 100%;
      z-index: -1;
      width: 100%; }
  .popup__close {
    color: #663333; }
    .popup__close > i {
      padding: 10px;
      color: #663333;
      cursor: pointer; }
  .popup__container {
    max-width: 250px; }
    .popup__container > textarea {
      padding: .6rem;
      width: 100%;
      height: 120px;
      border: none;
      background-color: #e6e6e6; }
    .popup__container > input {
      border: none;
      background-color: #e6e6e6;
      padding: .6rem;
      margin: .5rem 0; }

button {
  border: 0;
  background-color: #FFF; }

.popup.openPopup,
.popup__ob.openPopup {
  opacity: 1;
  visibility: visible; }

@media screen and (max-width: 991px) {
  .popup__body {
    width: 300px; }

  .popup__list li:first-child:before {
    left: -125px; }

  .popup__list > ul > li:last-child {
    left: 1.2rem; } }
.body-modal_ob {
  height: 400px; }

/*# sourceMappingURL=style.css.map */
