.icon{
  height: 65px;
  width: 65px;
}
.list-icon{
  @include flexStyle(baseline, space-around, row);
  flex-wrap: wrap;
  width: 100%;
}


@media screen and (max-width: $mobile) {
  .list-icon{
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}
