@mixin flexStyle($alingItems, $justifyContent, $direction) {
  display: flex;
  align-items: $alingItems;
  justify-content: $justifyContent;
  flex-direction: $direction;
}
@mixin fontStyle($size, $color) {
  font-size: $size;
  color: $color;
  font-family: "MyriadProRegular";
}

@mixin button {
  padding: .6rem 1rem;
  border: 1px solid $wineColor;
  background: none;
  color: $wineColor;
  cursor: pointer;
}

@mixin img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-position: center;
       object-position: center;
    -o-object-fit: cover;
       object-fit: cover;
}

@mixin titleSize {
  font-size: calc(35px + (50 - 35) * ((100vw - 320px) / (1920 - 320)));
}
