.nav{
  &__mobile{
    display: none;
  }&__icons{
  display: none;
  padding: 1rem
}&__mobile-links{
  position: absolute;
  top: 0;
  right: 0;
  width: 35%;
  height: 100vh;
  z-index: -1;
  @include flexStyle(center, center, column);
  background-color: $lightGreyColor;
  opacity: 0;
  transform: translateX(100%);
  transition: .5s;
}&__mobile-item{
  position: relative;
  padding: 1.5rem;
  & > a{
    @include fontStyle(1.7rem, $blackColor);
  }& > a:hover{
    color: $blackColor;
  }
}&__mobile-item:first-child{
  position: absolute;
  top: 0;
}
}
.menu_open .nav__mobile-links{
  opacity: 1;
  transform: translateX(0);
}
.menu_open .nav__icons .fa-times{
  display: block;
  transform: translateY(-8vh);
}
.menu_open .nav__icons .fa-bars{
  display: none;
}

.fa-times{
  @include fontStyle(1.5rem, $wineColor);
}
.fa-bars{
  @include fontStyle(1.5rem, $whiteColor);
}

@media screen and (max-width:$mobile){
  .nav__mobile-links{
    width: 100vw;
  }
}

@media screen and (max-width:1199px) {
  .nav__mobile{
    display: block;
  }
  .nav__list{
      justify-content: space-between;
  }
  .nav__link{
    display: none;
    padding: 0 1rem;
    @include fontStyle(1rem, $whiteColor);
    &:last-child{
      padding-right: 0rem;
    }& > a:hover{
      color: $blackColor;
    }
  }
  .nav__icons{
    @include flexStyle(center, center, row);
    z-index: 10;
    cursor: pointer;
  }
  .nav__icons .fa-times{
    display: none;
  }
}
