.popup{
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: .6s;
  visibility: hidden;
  opacity: 0;
  &__overlay {
  position: absolute;
  @include flexStyle(center, center, column);
  width: 100%;
  height: 100%;
  background-color: rgba(49, 41, 41, 0.88);
  }&__body {
  position: relative;
  @include flexStyle(center, center, column);
  width: 400px;
  height: 600px;
  background-color: $whiteColor;
  overflow: hidden;
  & > button{
    width: 35%;
    border: 1px solid $wineColor;
    color: $wineColor;
  }
  }&__list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    width: 100%;
    text-align: center;
  & > li:first-child {
    flex: 2;
    color: $whiteColor;
  }&> li:last-child {
    flex: 1;
  }& > li:first-child:before {
    content: '';
    position: absolute;
    top: 0;
    left: -145px;
    background-color: #663333;
    transform: skewX(-35deg);
    height: 100%;
    z-index: -1;
    width: 100%;
  }
}
  &__close {
  color: $wineColor;
  & > i{
    padding: 10px;
    color: $wineColor;
    cursor: pointer;
  }
  }&__container {
  max-width: 250px;
  & > textarea{
    padding: .6rem;
    width: 100%;
    height: 120px;
    border: none;
    background-color: $lightGreyColor;
  }& > input {
    border: none;
    background-color: $lightGreyColor;
    padding: .6rem;
    margin: .5rem 0;
  }
  }
}

button{
  border: 0;
  background-color: $whiteColor;
}


.popup.openPopup,
.popup__ob.openPopup{
  opacity: 1;
  visibility: visible;
}



@media screen and (max-width:$tablet) {
  .popup__body{
    width: 300px;
  }
  .popup__list li:first-child:before{
    left: -125px;
  }
  .popup__list > ul > li:last-child{
    left: 1.2rem;
  }
}
