.price{
  flex: 1 0 auto;
  &__weigh{
    position: relative;
    display: flex;
  }&__link{
    overflow: hidden;
  }&__item{
    position: relative;
    width: 125px;
    padding: .5rem 1rem;
    cursor: pointer;
    background-color: $wineColor;
  }&__item > a{
    position: relative;
    color: $whiteColor;
    z-index: 2;
  }
}


.price__item:last-child::before{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: 40px solid #FFF;
  border-left: 30px solid transparent;
}
.price__item:hover{
  background: red;
}
.price__item:not(:last-child):hover::before{
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  border-bottom: 40px solid $wineColor;
  border-left: 30px solid transparent;
}

.description-truck__list{
  flex: 1;
  margin-bottom:1rem;
  & > li:nth-child(even){
    padding: 1rem 0;
  }
}

//Button Price

.button__price{
  @include flexStyle(center, center, row);
  &-left{
    flex: 1;
  }&-right{
    flex: 1
  }
}

@media screen and (max-width:$tablet) {
  .price{
    &__weigh{
      flex-flow: column;
    }&__item{
      margin: .5rem 0;
    }&__weigh::after{
      transform: scale(0);
      width: 0;
    }
  }

  // СПОСОБ 1
  .price__item::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: 40px solid #FFF;
    border-left: 30px solid transparent;
  }
  .price__item:hover{
    background: red;
  }
  .price__item:not(:last-child):hover::before{
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    border-bottom: 40px solid $whiteColor;
    border-left: 30px solid transparent;
  }
  // СПОСОБ КОНЕЦ
}
