.services,
.services__bottom,
.services__subtitle{
  @include flexStyle(center, center, row);
}

.services__item-text{
  position: absolute;
  bottom: -40px;
  padding: 1rem;
  color: white;
  width: 100%;
  &:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    height: 0%;
    width: 11rem;
    border-top: 35px solid $greenColor;
    border-right: 25px solid transparent;
    transition: .5s;
  }
}
.services__subtitle .services__item > a > p{
  bottom: 4rem;
  &:before{
    width: 55%;
  }
}

.services{
  flex: 1 0 auto;
  flex-flow: column;
  &__top{
    margin: 2rem 0;
    @include flexStyle(flex-start, normal, row);
  }&__title{
    flex: 0 0 35%;
  }&__subtitle{
    flex: 0 0 65%;
  }&__item{
    flex: 1;
    position: relative;
    width: 100%;
  }&__item-img{
    position: relative;
    width: 100%;
    padding-bottom: 20%;
    min-height: 200px;
  }&__item:nth-child(even){
    margin: 0 1rem;
  }&__item-img > img{
    @include img;
    z-index: -1;
  }&__text{
    @include fontStyle(1rem, $greyColor);
    text-align: justify;
  }&__description{
    padding: 4rem 0;
  }
}


.sub-img{
  position: relative;
  width: 100%;
  padding-bottom: 35%;
  min-height: 350px;
}


@media screen and (max-width:$tablet){
  .services{
    &__subtitle{
      width: 100%;
    }&__list{
      width: 100%;
    }&__top{
      flex-flow: column;
    }&__item{
      padding: 1.5rem 0;
    }
  }
}
@media screen and (max-width:$mobile){
  .services__bottom{
    flex-direction: column;
  }
  .services__list:nth-child(even){
    margin: 3rem 0;
  }
}
